.Staff {
  margin: 40px 0;
  padding: 10px;
  background-color: #0f0b32;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  .container-1 {
    margin: 60px 40px;
    h2 {
      display: flex;
      flex-direction: column;
      font-family: Inter;
      font-size: 80px;
      font-style: normal;
      font-weight: 700;
      color: #f4f9ff;
      margin-bottom: 25%;
    }
    span {
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      color: #7ad8ff;
      margin-top: 20px;
    }

    .btn {
      background-color: #0042a5;
      color: #f4f9ff;
      padding: 20px 32px;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.42px;
      border-style: none;
      text-decoration: none;
    }
  }
  .container-2 {
    margin: 60px 10px;
    div {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
     
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
          width: 375px;
          height: 470px;
        }
        b {
          display: flex;
          flex-direction: column;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #f4f9ff;
          span {
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.42px;
            color: #7ad8ff;
          }
        }
      }
     
    }
    .btn2 {
      display: none;
    }
  }

  @media only screen and (max-width: 480px) {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .container-1 {
      margin: 50px 30px 0 30px;
      h2 {
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.64px;
        margin-bottom: 15px;
      }
      span {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #7ad8ff;
        margin: 10px 0;
      }

      .btn {
        display: none;
      }
    }

    .container-2 {
      margin: 0 30px;
      div {
        display: flex;
        flex-wrap: wrap;
        gap: 30;
        margin-bottom: 5px;
        div {
          display: flex;
          flex-direction: column;
          gap: 10px;
          img {
            width: 142px;
            height: 179px;
          }
          b {
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            span {
              font-family: Inter;
              font-size: 8px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.24px;
            }
          }
        }
        
      }
      .btn2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0042a5;
        color: #f4f9ff;
        padding: 15px 10px;
        width: 200px;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
        border-style: none;
        text-decoration: none;
        margin: 25px 0 65px 0;
      }
    }
  }
}
