.News {
    .news_header {
        background-image: url(../../components/Hero/images/Hero.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 80px;
    
        h1 {
          color: #fff;
          font-family: Inter;
          font-size: 70px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -2.4px;
        }
      }
}