.News {
  .news_header {
    background-image: url(../../components/Hero/images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 80px;

    h1 {
      color: #fff;
      font-family: Inter;
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -2.4px;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #edebeb;
    margin: 20px auto;
    padding: 10px 3px;
  
    div {
      img {
        width: 662px;
        height: 268px;
      }
    }
    div {
      h2 {
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.96px;
        color: #002660;
        width: 100%;
      }
      p {
        color: var(--black, #0f0b32);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    
  }
}
