.Explore {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    div {
      display: flex;
      justify-content: left;
      align-items: center;
      h2 {
        display: flex;
        flex-direction: column;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.96px;
        color: #002660;
      }
      span {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #0f0b32;
      }
    }

    div {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      gap: 15px;
      margin: 15px;

      .special {
        width: 636px;
        height: 320px;
      }
      .normal {
        width: 268px;
        height: 320px;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    margin: 50px 0;
    div {
      div {
        h2 {
          margin: 5px 0;
        }
      }

      div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 15px;

        .special {
          width: 100%;
          height: 298px;
        }
        .normal {
          width: 100%;
          height: 298px;
        }
      }
    }
  }
}
